@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

body{
    background-image: url('../meme.png');
    background-size: cover;
}

.center-meme{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skip{
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-width{
    width:100vh;
}

.box{
    border-right: 1px solid black;
    padding: 100px;
}

.font{
    font-family: 'Arvo', serif;
}